.social-login
  button.social-login--github(onclick = `location.href = "${routes.github}"`)
    span
      i.fab.fa-github
      |Login with Github
  button.social-login--facebook(onclick = `location.href = "${routes.facebook}"`)
    span
      i.fab.fa-facebook
      |Login with Facebook
