extends layouts/main
include mixin/videoBlock


block content
  each item in videos_db
    +videoBlock({
      id:item.id,
      file:item.video_file,
      title:item.title,
      views:item.views
    })
  